<footer class="bg-primary text-white text-center text-lg-start " style=" bottom:0;
left:0;width: 1350px; min-width: 1200px; margin-top:700px; margin-left: 0px; ">
    <!-- Grid container -->
    <div class="container p-2">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>
  
          <p>
           Quora
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
          <!-- <h5 class="text-uppercase">Links</h5> -->
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-white">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white">sign-in</a>
            </li>
            <li>
              <a href="#!" class="text-white">sign-up</a>
            </li>
            <li>
              <a href="#!" class="text-white">sign-out</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0"></h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Profile</a>
            </li>
            <li>
              <a href="#!" class="text-white">Help</a>
            </li>
           
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="#">QUORA</a>
    </div>
    <!-- Copyright -->
  </footer>