.del-button{
    margin-right: 10px;
    float: right;
    margin-top: 5px;
    font-size: 15px;

   
}
.like{
    font-size: 20px;

}
.comment-content{
    font-size: 20px;
    word-wrap: break-word;
    
    margin-top: 2px;
    margin-bottom: 2px;
}
.comment-list{
    width: 250px;
    height: auto;
    //border: rgb(16, 95, 241) solid;
    border-radius: 6px;
    border-width: 2px;
    background-color: rgb(251, 253, 255);
    margin-bottom: 10px;
    box-shadow: 2px 2px 15px skyblue;
}